body {
    display: flex;
    justify-content: center;
}

.main-frame {
    padding-top: 100px;
    position: relative;
    display: flex;
    justify-content: center;
    height: 100vh;
}

.train-frame {
    position: relative;
    width: 200px;
    height: 200px;
}

.body1 {
    position: absolute;
    width: 86px;
    height: 21px;
    top: -10.3%;
    left: 50%;
    clip-path: polygon(0% 0%, 82% 0%, 100% 100%, 0% 100%);
    background: linear-gradient(90.08deg, #9FCE8A 0.09%, #BBDBAC 99.95%);
}

.body2 {
    position: absolute;
    width: 86px;
    height: 21px;
    top: -0%;
    left: 50%;
    clip-path: polygon(0% 0%, 100% 0%, 82% 100%, 0% 100%);
    background: linear-gradient(90deg, #7EA966 8.52%, #A9C79C 100%);
}

.rectangle1 {
    position: absolute;
    width: 66px;
    height: 27px;
    left: 52.5%;
    top: 10.4%;
    background: linear-gradient(180deg, #A98D6D 0%, rgba(255, 255, 255, 0) 69.35%), linear-gradient(180deg, #FFFFFF 48.39%, #A68A69 100%);
}

.rectangle2 {
    position: absolute;
    width: 8px;
    height: 60px;
    left: 30.5%;
    top: -29%;
    background: #EBB241;
}

.bigWheel {
    position: absolute;
    width: 70px;
    height: 70px;
    left: 23%;
    top: -2%;
    border-radius: 50%;
    background: #6A4F37;
}

.bigWheelInternal {
    position: absolute;
    width: 75%;
    height: 75%;
    left: 12.5%;
    top: 13%;
    border-radius: 50%;
    background: #E1D0A5;
}

.bigWheelCenter {
    position: absolute;
    width: 25%;
    height: 25%;
    left: 39.5%;
    top: 41%;
    border-radius: 50%;
    background: #BA3936;
}

.smallWheel {
    position: absolute;
    width: 45px;
    height: 45px;
    left: 69%;
    top: 10.3%;
    border-radius: 50%;
    background: #6C5039;
}

.smallWheelInternal {
    position: absolute;
    width: 75%;
    height: 75%;
    left: 13%;
    top: 12%;
    border-radius: 50%;
    background: #E1D0A5;
}

.smallWheelCenter {
    position: absolute;
    width: 25%;
    height: 25%;
    left: 38.5%;
    top: 38%;
    border-radius: 50%;

    background: #BA3936;
}

.rectangle3 {
    position: absolute;
    width: 8px;
    height: 35px;
    left: 54%;
    top: -27.8%;
    background: #EBB241;
}

.roof {
    position: absolute;
    width: 85px;
    height: 14px;
    left: 25%;
    top: -35%;
    clip-path: polygon(0% 0%, 100% 0%, 85% 100%, 0% 100%);
    background: #D98F34;
}

.pipe {
    position: absolute;
    width: 16px;
    height: 49px;
    left: 74%;
    top: -35%;
    background: linear-gradient(90deg, rgba(253, 247, 239, 0.2) 0%, rgba(216, 140, 49, 0.2) 100%), linear-gradient(90deg, #D99033 50%, rgba(217, 144, 51, 0) 71.88%);
}

.elipse1 {
    position: absolute;
    width: 14px;
    height: 14px;
    left: 74%;
    top: -43%;
    border-radius: 50%;
    background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, #71AEDF 100%);
}

.elipse2 {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 74%;
    top: -55%;
    border-radius: 50%;
    background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, #70ADDE 100%);
}

.elipse3 {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 80%;
    top: -65%;
    border-radius: 50%;
    background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, #81B7E3 100%);
}

.sit {
    position: absolute;
    width: 24px;
    height: 26px;
    left: 34.5%;
    top: -18.2%;
    transform: rotate(0deg);
    background: transparent;
    border: 7px solid #C64A2E;
    border-top: none;
    border-right: none;
    border-radius: 0 0 0 20px;
}
